<div class="ui page centered grid">
	<div class="ui row">
	</div>
	<div class="ui row">
		<div class="ui center aligned column">
			<h2 class="ui top attached header">
			  Password Change Successful
			</h2>
			<div class="ui attached segment">
			  <p>Your password has been changed successfully.</p>
			</div>
		</div>
	</div>
	<a ng-if = "currentUser.investor == undefined" class="ui blue button" ui-sref="login">Login</a>&nbsp;
	<a ng-if = "currentUser.investor && currentUser.investor !== undefined" class="ui blue button" ui-sref="investorProfile">Profile</a>&nbsp;
	<a ng-if = "!currentUser.investor && currentUser.investor !== undefined" class="ui blue button" ui-sref="companyProfile">Profile</a>&nbsp;
</div>