<h4 class="ui dividing header">Portfolio Manager Specific Details*</h4>
    <div class="field eight wide">
      <label>Total Company Assets Under Management:</label>
      <input name="company_assets" ng-model="registration.portfolioManager.companyAssets" type="text">
    </div>
    <div class="field eight wide">
      <label>Total Equity Assets Under Management:</label>
      <input name="equity_assets" ng-model="registration.portfolioManager.equityAssets" type="text">
    </div>
    <div class="field eight wide">
      <label>Total UK Equity Assets Under Management:</label>
      <input name="ukEquity_assets" ng-model="registration.portfolioManager.ukEquityAssets" type="text">
    </div>
    <div class="field eight wide">
      <label>Style Bias:</label>
      <span ng-repeat="x in styleBiases"> {{x.name}}: <input type="checkbox" ng-model="registration.portfolioManager.stylebias[x.mName]"> <br/></span>
      <label>&nbsp;</label>
    </div>
</div>
